body {
  background-color: rgb(0, 0, 0);
}

@font-face {
  font-family: "Sans Serif";
  src: "font.ttf" format('truetype');
}

.image {
  display: block;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.caption {
  display: block;
  font-family: sans-serif;
  font-size: 18px;
  height: auto;
  line-height: 27px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  color: #ffffff;
}

.credit {
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  height: 17px;
  line-height: 17.5px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  color: #666666
}